:root {
    --primary-light: #FDFDFD;
    --primary-dark: #1F1F1F;
    --secondary-light: #FEFEFE;
}

html {
    overflow: hidden;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat-regular, sans-serif;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    overflow-x: hidden !important;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    place-items: center;
}

.loader {
    width: 60px;
    aspect-ratio: 1;
    background:
        linear-gradient(45deg, #ffffff 50%, #0000 0),
        linear-gradient(45deg, #0000 50%, white 0),
        linear-gradient(-45deg, #aeaeae 50%, #0000 0),
        linear-gradient(-45deg, #0000 50%, #aeaeae 0),
        linear-gradient(#4f4f4f 0 0);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    animation: l17 2s infinite alternate;
}

@keyframes l17 {

    0%,
    20% {
        background-position: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
        background-size: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%
    }

    80%,
    100% {
        background-position: 0 100%, 100% 0, 100% 100%, 0 0, 50% 50%;
        background-size: 50% 50%, 50% 50%, 50% 50%, 50% 50%, 100% 100%
    }

    0% {
        rotate: 0;
    }

    25% {
        rotate: 90deg;
    }

    50% {
        rotate: 180deg;
    }

    75% {
        rotate: 270deg;
    }

    100% {
        rotate: 360deg;
    }
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    height: 40px;
    font-family: montserrat-regular;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: scale .4s ease, transform 1s ease, opacity .6s ease;
}

.logo:nth-child(2) {
    transform: translateX(0px);
    opacity: 1;
}

.logo:hover {
    scale: 1.05;
}

.logo:hover .logo-img-con {
    rotate: -45deg;
    scale: 1.1;
}

.logo-img-con {
    height: 100%;
    aspect-ratio: 4/3.7;
    font-family: montserrat-regular, sans-serif;
    transition: scale .4s ease, rotate .3s ease;
    transform: rotate(1000deg);
    transition: transform 1s ease, rotate .4s ease;
}

.logo-text {
    font-size: 24px;
    letter-spacing: -3px;
    cursor: default;
}

nav {
    display: flex;
    gap: 20px;
    letter-spacing: -1px;
}

nav a {
    cursor: pointer;
    transition: translate .4s ease, box-shadow .4s ease;
    padding: 5px;
    transform: translateY(-50px);
    animation: 1s ease forwards;
}

@keyframes nav-anim {
    to {
        transform: translateY(0);
    }
}

nav a:hover {
    translate: 2px -2px;
    box-shadow: -2px 2px 0 var(--primary-dark);
}

.header-cta {
    background: transparent;
    border: 2px solid var(--primary-dark);
    padding: 8px 8px;
    font-size: 14pt;
    border-radius: 50px;
    font-family: montserrat-semibold, sans-serif;
    letter-spacing: -1px;
    transform: translateX(100px);
    opacity: 0;
    transition: translate .4s ease, box-shadow .4s ease, transform 1s ease, opacity .6s ease;
}

.header-cta:hover {
    translate: -3px -3px;
    box-shadow: 3px 3px 0px 0px var(--primary-dark);
}

.blinker {
    animation: 1.5s linear infinite forwards;
    opacity: 0;
}

@keyframes blinking {

    24.9%,
    50.1%,
    74.9%,
    100% {
        opacity: 0;
    }

    25%,
    50%,
    75%,
    99.9% {
        opacity: 1;
    }
}



.intro-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: playfair-display;
    font-weight: 100;
    font-style: italic;
    font-size: 16pt;
}

.hero {
    height: 100vh;
    max-height: 550px;
}

.hero-img-con {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;
}

.up-rip,
.low-rip {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;

}

.low-rip {
    bottom: 0;
}

.up-rip::after {
    background: url(img/up-rip.png) center/cover no-repeat;
    background-position: bottom;
}

.low-rip::after {
    bottom: 0;
    background: url(img/down-rip.png) center/cover no-repeat;
    background-position: top;
}

.up-rip::after,
.low-rip::after {
    content: "";
    position: absolute;
    inset: 0px;
    background-size: 100% 150%;
}



.body-section {
    padding: 10px 50px;
}

.section-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-text h2 {
    font-family: playfair-display;
    font-weight: 100;
    font-style: normal;
    font-size: 24pt;
    margin-bottom: 0;
    transform: translateX(-70px);
    opacity: 0;
    transition: transform 1s ease, opacity .8s ease;
}

.section-text p {
    font-size: 12pt;
    line-height: 1.6;
    transform: translateX(100px);
    opacity: 0;
    transition: transform 1.2s ease, opacity 1s ease;
}



.about-sec {
    margin: 90px 0;
    letter-spacing: -1px;
}

.about-video-con {
    width: 100%;
    height: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.about-video {
    height: 100%;
    aspect-ratio: 16/9;
    border: 1px solid black;
    border-radius: 10px;
    background: url(img/video-back.png) center/cover no-repeat;
}




.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-bottom: 100px;
}

.portfolio-grid-img {
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio-grid-img:hover {
    scale: 1.005;
}

.portfolio-grid-img:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/7;
    background-image: url(img/wedding.jpg);
    transform: translateX(-100px);
    opacity: 0;
    transition: scale .4s ease, transform 1.1s ease, opacity .8s ease;
}

.portfolio-grid-img:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/4;
    background-image: url(img/horizon.jpg);
    transform: translateY(70px);
    opacity: 0;
    transition: scale .4s ease, transform 1s ease, opacity .7s ease;
}

.portfolio-grid-img:nth-child(3) {
    grid-row: 2/3;
    grid-column: 4/7;
    background-image: url(img/elephant.jpg);
    transform: translateX(90px);
    opacity: 0;
    transition: scale .4s ease, transform 1.1s ease, opacity .8s ease;
}

.portfolio-grid-img:nth-child(4) {
    grid-row: 3/4;
    grid-column: 1/5;
    background-image: url(img/room.jpg);
    transform: translateX(-90px);
    opacity: 0;
    transition: scale .4s ease, transform 1s ease, opacity .8s ease;
}

.portfolio-grid-img:nth-child(5) {
    grid-row: 3/4;
    grid-column: 5/7;
    background-image: url(img/beef.jpg);
    transform: translateX(30px);
    opacity: 0;
    transition: scale .4s ease, transform .9s ease, opacity .65s ease;
}


.faqNa-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faqNa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
    transform: translateX(-150px);
    opacity: 0;
    transition: transform .8s ease, opacity .7s ease, max-height 1s ease;
    padding: 5px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    gap: 30px;
}

.faq-question {
    font-family: playfair-display, sans-serif;
    margin: 0;
    font-size: 13pt;
}

.faq-icon {
    height: 60%;
    transform: rotate(720deg);
    transition: rotate .8s ease, transform 1.5s ease;
}

.first-icon {
    position: relative;
    animation: 1.2s infinite ease-in-out;
    animation-name:bounceShadow ;
    padding: 4px;
    border-radius: 5px;
}

/* Bouncing, sharp-edged, blue shadow */
@keyframes bounceShadow {
    0% {
        box-shadow: 0 0 0 3px #0099ff;
        padding: 4px;
        transform: translateY(0);
    }

    50% {
        box-shadow: 0 0 0 3px #0099ff;
        padding: 8px;
        transform: translateY(-6px);
    }

    100% {
        box-shadow: 0 0 0 3px #0099ff;

        transform: translateY(0);
    }
}


.answer {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 13pt;
    font-family: montserrat-semibold;
}


footer {
    margin-top: 160px;
    padding: 50px 50px;
    height: fit-content;
    background-image: url(img/footerback.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--primary-light);
}

footer * {
    position: relative;
    z-index: 1;
    color: inherit;
}

footer::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(32, 32, 32, 0.466);
    z-index: 0;
}

.footer-head {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    gap: 25px;
}

.socials a {
    font-size: 15pt;
    letter-spacing: -1px;
}

.footer-content {
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin-top: 50px;
}

.footer-text {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-quote {
    font-size: 37pt;
    font-family: playfair-display;
    font-style: italic;
}

.footer-text p {
    font-size: 13pt;
}

.footer-button-con {
    display: flex;
    gap: 30px;
}

.footer-button-con button {
    background: transparent;
    border: 2px solid var(--primary-light);
    padding: 8px 8px;
    font-size: 14pt;
    border-radius: 50px;
    font-family: montserrat-semibold, sans-serif;
    letter-spacing: -1px;
    transition: translate .4s ease, box-shadow .4s ease;
}

.book {
    flex: 1;
}

.contact {
    width: 35%;
    font-size: 12pt;
}

.footer-button-con button:hover {
    translate: -3px -3px;
    box-shadow: 3px 3px 0px 0px var(--primary-light);
}


::selection {
    background-color: #1F1F1F;
    color: #ccc;
}

.def {
    transform: rotate(0deg) translate(0) !important;
    opacity: 1 !important;
}